body {
  font-family: Inter, sans-serif;
  padding: 10px;
  width: 300px;  /* Define a fixed width */
  max-height: 600px; /* Maximum height before scrolling */
  overflow: auto;  /* Enables scrolling */
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Ensures padding and borders are included in the width */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block; /* Ensures the button doesn't flow inline with other elements */
  width: 100%;  /* Makes the button extend full width */
  box-sizing: border-box; /* Consistent sizing with padding included */
}

#output {
  margin-top: 10px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc; /* Adds a border around the output for clarity */
  height: auto;  /* Height will grow with content */
  max-height: 300px; /* Limit the height with a scrollbar */
  overflow: auto; /* Add scrollbar when content overflows */
}

.introBlock {
  background-color:#F0F0F0;
  border-radius: 20px; 
  padding: 16px 24px; 
  display: block; 
  width: 100%; 
  box-sizing: border-box; 
  margin-bottom: 16px; 
}

.scanalyticsTitle {
  text-align: center;
  padding-top: 15px;
  font-size: 32px;
}

.button-container {
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex; 
  justify-content: center; 
}

.gradient-button {
  background: linear-gradient(45deg, #870000, #E20303); 
  color: white; 
  font-size: 14px; 
  padding: 10px 8px; 
  border: none; 
  border-radius: 24px; 
  cursor: pointer; 
  width: 160px; 
  text-align: center; 
}

.generatedContent{
  font-size: 12px;
  color: #5D5D5D;
  text-align: left;
  font-weight: 200;
  line-height: 1.3;
  padding-bottom: 15px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;

}

.translateBlock {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  background-color: #F0F0F0; 
  border-radius: 20px; 
  padding: 5px 15px;
  width: 90%;
  margin: 20px auto;
  height: 60px; 
}

.language-dropdown {
  border: none;
  background: none;
  font-size: 14px; 
  color: #5D5D5D; 
  outline: none;
  appearance: none; 
  padding: 5px;
  text-align: left; 
  text-decoration: underline;
  cursor: pointer; 
}

.divider {
  width: 1px;
  height: 50%; 
  background-color: #999; 
  margin-right: 25px;
}

.translate-button {
  background: linear-gradient(45deg, #870000, #E20303);
  color: white; 
  font-size: 14px;
  padding: 10px 8px; 
  border: none;
  border-radius: 26px; 
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease-in-out; 
}
